---
- name: Create user
  user:
    name: "{{ cruise_control_user }}"
    create_home: no

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ cruise_control_user }}"
    group: "{{ cruise_control_user }}"
  loop:
    - "{{ cruise_control_install_path }}"
    - "{{ cruise_control_logging_path }}"

- name: Download archive
  unarchive:
    src: "{{ cruise_control_dist_url }}/{{ cruise_control_version }}/linkedin-cruise-control-{{ cruise_control_version }}.tgz"
    dest: "{{ cruise_control_install_path }}/"
    remote_src: yes
    extra_opts:
      - --strip-components=1
    owner: "{{ cruise_control_user }}"
    group: "{{ cruise_control_user }}"
    creates: "{{ cruise_control_build_path }}/kafka-cruise-control-start.sh"

- name: Setup program configuration
  template:
    src: "config/{{ item }}"
    dest: "{{ cruise_control_install_path }}/config/{{ item }}"
    owner: "{{ cruise_control_user }}"
    group: "{{ cruise_control_user }}"
    mode: 0644
  loop:
    - log4j.properties
    - cruisecontrol.properties
    - realm.properties

- name: Install service units
  template:
    src: systemd/cruisecontrol.service
    dest: /etc/systemd/system/cruisecontrol.service
    owner: root
    mode: 0644

- name: Copy Metrics Reporter library in Kafka folder
  copy:
    src: "{{ cruise_control_install_path }}/cruise-control-metrics-reporter/build/libs/cruise-control-metrics-reporter-{{ cruise_control_version }}.jar"
    dest: "{{ kafka_install_path }}/libs/"
    remote_src: yes
    owner: "{{ kafka_user }}"
    group: "{{ kafka_user }}"
  when: kafka_install_path and kafka_user

- name: Configure Metrics Reporter in Kafka settings
  blockinfile:
    path: "{{ kafka_install_path }}/config/server.properties"
    block: |
      ############################# Metrics Settings #############################

      metric.reporters=com.linkedin.kafka.cruisecontrol.metricsreporter.CruiseControlMetricsReporter
      cruise.control.metrics.reporter.bootstrap.servers=localhost:9092
  when: kafka_install_path and kafka_user

- name: Download UI archive
  unarchive:
    src: "{{ cruise_control_ui_dist_url }}/v{{ cruise_control_ui_version }}/cruise-control-ui-{{ cruise_control_ui_version }}.tar.gz"
    dest: "{{ cruise_control_install_path }}/"
    remote_src: yes
    owner: "{{ cruise_control_user }}"
    group: "{{ cruise_control_user }}"
    creates: "{{ cruise_control_build_path }}/cruise-control-ui/"
